{% extends "accounts/base.html" %}
{% block content %}
<h1>Log In</h1>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <input name="username_or_email" placeholder="Username or Email" value="{{ form.username_or_email.value|default:'' }}">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Log In</button>
</form>
<div class="row">
  <span class="muted">New here?</span>
  <a href="{% url 'accounts:register' %}">Create account</a>
</div>
<div class="row">
  <span class="muted">Didn’t receive email?</span>
  <a href="{% url 'accounts:resend' %}">Resend verification</a>
</div>
{% endblock %}
